#contents-area {
    position: relative;
}

#image-area {
    position: relative;
}

a.page-navigation {
    position: absolute;
    background-color: var(--special-bcolor);
    opacity: 0.25;
    z-index: 2;
    cursor: pointer;
    text-decoration: none;
    font-size: 14pt;
    
}
a.page-navigation:hover:active {
    background-color: var(--main-bcolor);
}
a.page-navigation:hover {
    background-color: var(--hover-bcolor);
    opacity: 0.5;
}
a.page-navigation.top, a.page-navigation.bottom {
    left: 0;
    width: 100%;
    padding: 3pt 0 3pt 0;
}
a.page-navigation.top { top: 0; }
a.page-navigation.bottom { bottom: 0; }

a.page-navigation.left, a.page-navigation.right {
    writing-mode: vertical-lr;
    top: 0;
    height: 100%;
    padding: 0 3pt 0 3pt;
}
a.page-navigation.left { left: 0; }
a.page-navigation.right { right: 0; }

#tree-window {
    position: absolute;
    z-index: 100;
    left: 0;
    top: 0;
    max-height: 100%;
    background-color: var(--special-bcolor);
    -webkit-box-shadow: 8px 9px 42px 8px var(--shadow-color);
    -moz-box-shadow: 8px 9px 42px 8px var(--shadow-color);
    box-shadow: 8px 9px 42px 8px var(--shadow-color);
}

.page-pair {
    width:100%;
    display: flex;
    border-bottom: 1px solid var(--border-color);
}
.page-pair:last-of-type {
    border-bottom: none;
}

.page.half {
    position: relative;
    /*flex-shrink: 0; fix for ie*/
    flex: 1 1 auto;
    padding: 0px;
}

.page > img {
    max-width:100%;
    height: auto;
    filter: grayscale(100%) contrast(90%) brightness(95%);
}
.dark .page > img { filter: invert(100%) contrast(70%) brightness(150%); }

.page > .page-link {
    position: absolute;
    z-index: 3;
    opacity: 0.5;
    right: 0;
    margin: 25pt 10pt 0 0;
    color: var(--icon-color);
    font-size: 18pt;
    cursor: pointer;
    /*display: none; /* show when moouseover */
}
.page > .page-link:hover {  color: var(--link-color); }