#contents-area {
    position: relative;
}

#image-area {
    position: relative;
}

a.page-navigation {
    position: absolute;
    background-color: lightblue;
    opacity: 0.15;
    z-index: 1000;
    cursor: pointer;
    text-decoration: none;
    font-size: 14pt;
    
}
a.page-navigation:hover:active {
    background-color: darkgray;
}
a.page-navigation:hover {
    background-color: lightgreen;
    opacity: 0.5;
}
a.page-navigation.top, a.page-navigation.bottom {
    left: 0;
    width: 100%;
    padding: 3pt 0 3pt 0;
}
a.page-navigation.top {    top: 0;}
a.page-navigation.bottom {    bottom: 0;}

a.page-navigation.left, a.page-navigation.right {
    writing-mode: vertical-lr;
    top: 0;
    height: 100%;
    padding: 0 3pt 0 3pt;
}
a.page-navigation.left {   left: 0;    }
a.page-navigation.right {    right: 0;}

#tree-window {
    position: absolute;
    z-index: 1001;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
    left: 0px;
    padding: 5px 10px 5px 0px;
    background-color: whitesmoke;
    bottom: 0;
}
#left-tree {
    max-height: 100%;
}

.page-pair {
    width:100%;
    display: flex;
    border-bottom: 1px solid black;
}
.page-pair:last-of-type {
    border-bottom: none;
}

.page.half {
    position: relative;
    flex: 1 1 auto;
    padding: 0px;
}

.page > img {
    max-width:100%;
    height: auto;
    
}

.page > .page-link {
    position: absolute;
    z-index: 1001;
    opacity: 0.5;
    right: 0;
    margin: 25pt 10pt 0 0;
    color: lightblue;
    font-size: 18pt;
    /*display: none; /* show when moouseover */
}
.page > .page-link:hover {
    cursor: pointer;
    color: lightgreen;
}