/*
  Tipitaka stylesheet for Unicode Sinhala encoding.
*/
body {
    margin-top: 0px;
    overflow: hidden;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.005);
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

#text-view-table {
    table-layout: fixed;
    text-align: center;
    width: 100%;
}
#text-view-table td {
    width:50%;
    vertical-align: top;
    padding: 2pt 6pt 2pt 6pt;
}
/*#text-view-table td[node-id-p] {
    display: none;
}
/*#text-view-table tr:hover {
    background-color: white;
}*/

.text-section {
    font-size: 12pt;
    padding: 5px 10px 5px 10px;
    background-color: var(--main-bcolor);
}

/*.text-section .edit-textarea {
    width: 100%;
    height: 100%;
    padding-bottom: 0px;
    padding-top: 0px;
    background: lightgray;
}

.text-section .edit-textinput {
    background: lightgray;
}*/

.text-section .share-icon {
    font-size: smaller;
    cursor: pointer;
    color: var(--icon-color);
    opacity: 0.4;
    padding-left: 5pt;
}
.text-section .share-icon:hover { color: var(--link-color); opacity: 1; }
.text-section .textbody .share-icon {  float: left; }


/*.text-section .span-links { position: absolute; cursor: pointer; color: lightgray; background-color: white; z-index: 99; padding: 0px 5px 0px 5px;}
.text-section .span-links .fa:hover { color: lightcoral; }*/

.text-section span.note { color: var(--special-color); }
.text-section span.bold { font-weight: bold; }
.text-section span.paranum { font-weight: normal; float: left; }
.text-section span.paranum::after { font-weight: bold; content: "."; }
.text-section .bld { font-weight: bold; }

.text-section .indent { text-indent: 2em; margin-left: 3em; }
.text-section .unindented { }
.text-section .hangnum { margin-bottom: -0.75cm; text-indent: 2em; }
/* Namo tassa, and nitthita -- no unique structural distinction */
.text-section .centered { text-align:center; }

.text-section .nikaya { font-size: 23pt; text-align:center; font-weight: bold; margin: 7px 0px 7px 0px;}
.text-section .book { font-size: 20pt; text-align:center; font-weight: bold; margin: 7px 0px 7px 0px;}
.text-section .specialcaption { font-size: 17pt; text-align: center; font-weight: bold } /* used for pannasaka bhagaya*/

.text-section div.chapter { text-align:center; margin: 5px 0px 5px 0px; }
.text-section span.chapter { font-size: 17pt; font-weight: bold; color: var(--heading-color); }

.text-section div.title { text-align:center; margin: 5px 0px 5px 0px; }
.text-section span.title { font-size: 15pt; cursor: pointer; font-weight: bold; color: var(--main-color); }

.text-section div.subhead { text-align:center; margin: 5px 0px 5px 0px;}
.text-section span.subhead { font-size: 13pt; cursor: pointer; font-weight: bold; color: var(--heading-color); }
.text-section span.subhead.sc_collapsed {color: var(--link-color); }
/*.text-section span.subhead.sc_collapsed::before {content: "+  "; color: blue;}*/

.text-section div.subsubhead { text-align:center; font-weight: bold;  margin: 3px 0px 3px 0px;}

.text-section .paragraph {padding-top: 5px; padding-bottom: 5px; display: table; width: 100%;}

.text-section .bodytext { text-indent: 1em; text-align:justify; font-weight: normal;}

/* Gatha line */
.text-section .gatha { margin-bottom: 0em; margin-left: 4em; text-align:left; font-weight: normal;}
.text-section .gathalast { margin-bottom: 0.5cm; margin-left: 4em; text-align:left; font-weight: normal;}

.text-section .ending { text-align:center; }
.text-section .udana { font-style: italic; }
.text-section .namothassa { font-style: italic; text-align: center }