@font-face { font-family:FMAbhaya; src:url(fonts/FMABHAYA.TTF); }

body { 
    font-size: 1.3rem; 
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.01);
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}
div.textbox-title { font-size: larger; margin-bottom: 4px; color: rgb(88, 49, 0); }
textarea.input { width: 100%; background-color: whitesmoke; font-size: 1.3rem;}
div.mapping-list { display: flex; flex-wrap: wrap; }
div.mapping { margin: 5px; padding: 5px; border: 1px solid lightgray; border-radius: 4px; background-color: lightyellow;}
div.section { margin: 15px 0px 15px 0px; }
input[type=button] { font-size: 1.2rem; }

div.top-title { text-align: center; font-size: 2.5rem; margin: 1.3rem; color: darkblue; }
div.menu { display: flex; flex-direction: row; flex-wrap: nowrap; margin-bottom: 10px; }
a.menu-item { font-size: 1.4rem; flex: 1; text-decoration: none; text-align: center; background-color: lightgrey; 
    padding: 10px 5px; border-radius: 6px 6px 0px 0px; border: 1px solid black; border-bottom: none; }
a.menu-item.active { background-color: white; color: rgb(124, 68, 0); }
#bottom-bar { text-align: center; font-size: 0.9rem; border-top: 0.5px solid rgb(141, 133, 133); padding-top: 5px; }

#error-box.red { color: red; }
#error-box.green { color:green; }