#search-status, #bookmark-status {
    font-size: 0.8rem;
    color: var(--heading-color);
    padding: 5pt;
}
#search-filter-status {
    font-size: 0.8rem;
    color: var(--special-color);
}

.results-table {
    text-align: left;
    margin: 0px;
    padding-left: 0pt;
    display: none;
    width: 100%;
    background-color: var(--main-bcolor);
}
.results-table thead {
    font-size: 1.1rem;
    font-weight: bold;
    background: var(--special-bcolor);
}
.results-table tr {
    border-top: 1pt solid var(--border-color);
}
.results-table tr:nth-child(even) {
    background-color: var(--special-bcolor);
}
.results-table tr:hover { background: var(--hover-bcolor); }
.results-table thead tr:hover { background: none; }

.results-table td { padding: 3pt 5pt 3pt 5pt; }
.results-table span.action { float: right; color: blue; cursor: pointer; }
.results-table span.action i:hover { color: red; }

.result-sutta-name {
    color: var(--special-color);
    /*font-weight: bold;*/
    word-break: break-word;
}
.result-parents {
    font-size: 0.9rem;
    color: var(--main-color);
}
.result-nikaya-name {
    font-size: 0.9rem;
}
.result-page-number, .result-book-name {
    word-break: break-word;
}
span.result-sutta-name:hover, span.result-parent-name:hover {
    cursor: pointer;
    text-decoration: underline;
}

.star-icon { /* appears in text too */
    cursor: pointer;
    color: var(--icon-color);
    opacity: 0.4;
    padding-left: 5pt;
}
.star-icon.starred { color: rgb(228, 194, 0); opacity: 1; }