@font-face {
    font-family: 'noto-serif';
    src: local('###'), url('../fonts/NotoSerifSinhala-Regular.ttf') format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: 'noto-serif';
    src: local('###'), url('../fonts/NotoSerifSinhala-Bold.ttf') format('truetype');
    font-weight: bold;
}

body {
    font-family: noto-serif;
    font-size: 16px; 
}
i.ss-hide {font-style: normal;}
@media screen and (max-width: 400pt) {
    .ss-hide {
        display: none;
    }
}

audio { width: 100% }

.pirith-item { padding: 0.4rem 0.2rem 0.4rem 0.2rem; border-bottom: 1px solid rgba(0,0,0,0.5); }
.pirith-item:nth-child(even) { background-color: rgba(233, 165, 39, 0.05); }
.pirith-item:hover { background-color: whitesmoke; }

.pirith-details { display: flex; flex-direction: row; flex-wrap: nowrap; align-items: center; justify-content: center; }
.pirith-details > * { padding: 0rem 0.3rem 0rem 0.3rem; }

.pirith-num::after { content: '.' }
.pirith-desc { flex: 1 1 auto; cursor: pointer; font-size: 0.8rem; }
.pirith-desc > span { padding-right: 0.5rem; }
.pirith-desc .duration {  }
.pirith-desc .name { font-size: 1.2rem; }
.pirith-item.active .name { font-weight: bold; color: rgba(141, 42, 3, 1); }


.action-icons { display: flex; flex-wrap: nowrap; align-items: center; justify-content: center; }
.action-icons > * { padding: 0rem 0.3rem 0rem 0.3rem; cursor: pointer; transition: 100ms; color:lightgray; }
.action-icons > *:hover { font-weight: 900; color: rgb(67, 67, 252); }

.action-group { display: flex; flex-direction: column; align-items: flex-start; justify-content: stretch; }
.star-icon { font-family: 'FontAwesome'; color: black; } /* star toggle in title bar too */
.star-icon::after { content: '\f006' }
.star-icon.starred::after { content: '\f005'; color: gold; }
.loop-icon { font-family: 'FontAwesome';  }
.loop-icon::after { content: '\f01e' }
.loop-icon.active::after { color: rgb(255, 94, 0); font-weight: 900; }

#text { text-align: center; }
#text > div { margin: 0.5rem 0.2rem 0.5rem 0.2rem; }
#text .pali { color: black; font-size: 1.5rem; font-weight: bold; word-break: break-word; }
#text .past { color: rgb(100, 100, 100); }
#text .present { color: red; }
#text .future { color: rgb(223, 0, 0); }
#text .trans { color: brown;  font-size: 1.1rem; }
