html, body {
    height: 100%;
    overflow: hidden;
}

.title-bar {
    white-space: nowrap; 
    padding: 8pt 5pt 8pt 5pt; 
    background-color: coral; 
    font-size: 15pt;
    cursor: pointer;
}

#menu-list {
    position: absolute; 
    z-index: 999; 
    display: none; 
    left: 0px; 
    background-color: lightsalmon;
    border: 1px solid black;
    -webkit-box-shadow: 2px 2px 1px 0px #000000; 
    box-shadow: 2px 2px 1px 0px #000000;
}
.menu-list-item {
    display: block;
    padding: 5pt 8pt 5pt 5pt;
    color: black;
    text-decoration: none;
}
.menu-list-item:hover {
    background-color: white;
}

#sinhala-search-button {
    display: inline-block; 
    border-radius: 0px; 
    background-color: coral; 
    margin: 1pt; 
    padding: 6pt; 
    color: white;
}

#search-status {
    font-size: 13pt;
    font-style: italic;
    color: darkblue;
    padding: 5pt;
}

#search-results {
    margin: 0px;
    padding-left: 0pt;
    /*box-shadow: -3px 3px 2px rgba(0,0,0,0.15);
    position: absolute;
    z-index: 9999;*/
    background: #FFFFFF;
    border: 1px solid;
    border-radius: 2px;
    display: none;
}
#search-results li {
    font-size: 13pt;
    list-style-type: none;
    padding: 2pt 5pt 2pt 5pt;
    border-top: 1pt solid;
}
#search-results li:hover {
    background: lightgoldenrodyellow;
    /*cursor: pointer;
    font-size: 14pt;*/
}
.result-pali-word {
    color: black;
    font-weight: bold;
    padding-right: 10pt;
    cursor: pointer;
}
.result-sinhala-meaning {
    color: darkgreen;
}
.result-sinhala-meaning span.mark {
    background-color: yellow;
}

.result-sinhala-meaning i {
    font-style: normal;
    /*font-size: 12pt;*/
    color: coral;
    border-bottom: 1px dotted #666;
	cursor: help;
}
.result-sinhala-meaning i.c1 {
    color: orangered;
}
.result-sinhala-meaning i::after {
    content: '.';
}
.result i.dict-name {
   font-size: 7pt;
   padding-right: 5pt;
}
.result i.buddhadatta {
    color: blue;
}
.result i.sumangala {
    color: orange;
}