@font-face {
    font-family: 'un-abhaya';
    src: local('###'), url('../fonts/NotoSansSinhala-Regular.ttf') format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: 'un-abhaya';
    src: local('###'), url('../fonts/NotoSansSinhala-Bold.ttf') format('truetype');
    font-weight: bold;
}

html, body {
    height: 100%;
    overflow: hidden;
    margin: 0pt;
    font-family: un-abhaya;
}

.title-bar {
    padding: 6pt 8pt 6pt 8pt; 
    background-color: coral; 
    font-size: 15pt;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-flow: row nowrap;
    align-items: center;
}

#menu-list {
    position: absolute; 
    z-index: 9999; 
    display: none; 
    text-align: left;
    background-color: lightsalmon;
    -webkit-box-shadow: -8px 9px 42px 8px rgba(0,0,0,0.19);
    -moz-box-shadow: -8px 9px 42px 8px rgba(0,0,0,0.19);
    box-shadow: -8px 9px 42px 8px rgba(0,0,0,0.19);
}
.menu-list-item {
    display: block;
    padding: 5pt 8pt 5pt 5pt;
    color: black;
    text-decoration: none;
}
.menu-list-item:hover {
    background-color: white;
}

#search-bar-div {
    display: flex;
    justify-content: center; 
    flex-flow: row nowrap;
    align-items: center;
    box-shadow: 0px 10px 25px -3px rgba(0,0,0,0.3);
    z-index: 2;
    position: relative;
}
.search-bar {
    flex: 1 1;
    font-size: 15pt;
    font-family: un-abhaya;
    vertical-align: middle;
    margin: 2pt 1pt 2pt 1pt;
    border: 1px solid lightsalmon;
    max-width: 350pt;
    min-width: 70pt;
    /*box-shadow: 0 3px 3px rgba(0,0,0,0.2);*/
}

a.button {
    margin: 2pt 1pt 2pt 1pt;
    text-align:center;
    background-color: white;
    padding: 6px 5px 6px 5px;
    text-decoration: none;
    line-height: 1;
    /*border-radius: 4px;*/
    border: 1px solid lightsalmon;
    /*box-shadow: 0 3px 3px rgba(0,0,0,0.2);*/
    cursor: pointer;
    display: inline-block;
}
a.button:hover {
    background-color: lightsalmon;
}
a.button:active, a.button.pressed {
    background-color: gray;
    box-shadow: none;
}

.tooltip {
    position: fixed;
    background-color:#eeeefe;
    color: black;
    /*border: 1px solid #aaaaca;*/
    padding: 3pt;
    width: auto;
    font-size: 10pt;
    z-index: 9999;
    box-shadow: 0 3px 3px rgba(0,0,0,0.2);
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#toast {
    display: none; /* Hidden by default. Visible on click */
    background-color: black; /* Black background color */
    color: white; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 5pt; /* Rounded borders */
    padding: 5pt 10pt 5pt 10pt; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1000; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    transform: translateX(-50%);
    bottom: 30pt; /* 30px from the bottom */
}

/* dialog box related styles */
#dialog-overlay {
    width:100%;
    height:100%;
    /* transparency for different browsers */
    filter:alpha(opacity=50);
    opacity: 0.5;
    background:#000;
    /* make sure it appear behind the dialog box but above everything else */
    position: fixed;
    top:0; 
    left:0;
    z-index:3000;
    /* hide it by default */
    display:none;
}

#dialog-box {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    background:#eee;
    /* make sure it has the highest z-index */
    position:fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index:3001;
    /* hide it by default */
    display:none;
}

#dialog-box .dialog-content {
    text-align:left;
    padding:10px;
    margin:13px;
    color:#666;
}
.dialog-content .close-button {
    color: white;
    background-color: #cb4040;
}
.dialog-content .update-button {
    color: white;
    background-color: green;
}
.dialog-content .title {
    text-align: center;
    font-size: 18pt;
    color: darkblue;
}
.dialog-content .link-url {
    font-size: 16pt;
    width: 100%;
}
