@font-face {
    font-family: 'un-abhaya';
    src: local('###'), url('../fonts/NotoSerifSinhala-Regular.ttf') format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: 'un-abhaya';
    src: local('###'), url('../fonts/NotoSerifSinhala-Bold.ttf') format('truetype');
    font-weight: bold;
}

html, body {
    height: 100%;
    overflow: hidden;
    margin: 0pt;
    font-family: un-abhaya;
}

body {
    --main-color: black;
    --main-bcolor: rgb(243, 243, 243);
    --special-color: darkred;
    --special-bcolor: rgb(223, 221, 221);

    --hover-bcolor: rgb(255, 207, 167);
    --highlight-bcolor: yellow;
    
    --heading-color: brown;
    --icon-color: rgb(70, 70, 170);
    --border-color: rgb(255, 199, 176);
    --link-color: darkblue;
    --shadow-color: rgba(0,0,0,0.2);

    color: var(--main-color); 
    background-color: var(--main-bcolor);
}
body.dark { /* dark mode variables */
    --main-color: white;
    --main-bcolor: rgb(51, 51, 51);
    --special-color: rgb(173, 216, 250);
    --special-bcolor: rgb(90, 90, 90);

    --hover-bcolor: rgb(0, 0, 0);
    --highlight-bcolor: rgb(105, 105, 2);
    
    --heading-color: rgb(235, 223, 220); /* specific uses */
    --icon-color: rgb(255, 253, 220);
    --border-color: rgb(122, 122, 122);
    --link-color: lightblue;
    --shadow-color: rgba(255, 255, 255, 0.1);

    color: var(--main-color); 
    background-color: var(--main-bcolor);
}

body.dark .darkT { display: none; }
body:not(.dark) .lightT { display: none; }
a[href] { color: var(--link-color); }

.title-bar {
    padding: 6pt 8pt 6pt 8pt; 
    background-color: var(--special-bcolor);
    font-size: 15pt;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-flow: row nowrap;
    align-items: center;
}

#menu-list {
    position: absolute; 
    z-index: 9999; 
    display: none; 
    text-align: left;
    background-color: var(--special-bcolor);
    -webkit-box-shadow: -8px 9px 42px 8px var(--shadow-color);
    -moz-box-shadow: -8px 9px 42px 8px var(--shadow-color);
    box-shadow: -8px 9px 42px 8px var(--shadow-color);
}
a.menu-list-item { display: block;  padding: 5pt 8pt 5pt 5pt;  text-decoration: none;  cursor: pointer; color: var(--main-color); }
a.menu-list-item:hover { background-color: var(--hover-bcolor); }
i.fa { color: var(--icon-color); }

#search-bar-div {
    display: flex;
    justify-content: center; 
    flex-flow: row nowrap;
    align-items: center;
    box-shadow: 0px 10px 25px -3px var(--shadow-color);
    z-index: 40;
    position: relative;
}
.search-bar {
    flex: 1 1;
    font-size: 15pt;
    font-family: un-abhaya;
    vertical-align: middle;
    margin: 2pt 1pt 2pt 1pt;
    border: 1px solid var(--border-color);
    max-width: 350pt;
    min-width: 70pt;
    background-color: var(--main-bcolor);
    color: var(--main-color);
    /*box-shadow: 0 3px 3px rgba(0,0,0,0.2);*/
}

a.button {
    margin: 2pt 1pt 2pt 1pt;
    text-align:center;
    padding: 6px 5px 6px 5px;
    text-decoration: none;
    line-height: 1;
    /*border-radius: 4px;*/
    border: 1px solid var(--border-color);
    /*box-shadow: 0 3px 3px rgba(0,0,0,0.2);*/
    cursor: pointer;
    display: inline-block;
}
a.button:hover {
    background-color: var(--hover-bcolor);
}
a.button:active, a.button.pressed {
    background-color: var(--special-bcolor);
    box-shadow: none;
}

.tooltip {
    position: fixed;
    background-color:#eeeefe;
    color: black;
    /*border: 1px solid #aaaaca;*/
    padding: 3pt;
    width: auto;
    font-size: 10pt;
    z-index: 9999;
    box-shadow: 0 3px 3px var(--shadow-color);
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#toast {
    display: none; /* Hidden by default. Visible on click */
    background-color: var(--main-color); /* Black background color */
    color: var(--main-bcolor); /* White text color */
    text-align: center; /* Centered text */
    border-radius: 5pt; /* Rounded borders */
    padding: 5pt 10pt 5pt 10pt; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1000; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    transform: translateX(-50%);
    bottom: 30pt; /* 30px from the bottom */
}

/* dialog box related styles */
#dialog-overlay {
    width:100%;
    height:100%;
    /* transparency for different browsers */
    filter:alpha(opacity=50);
    opacity: 0.5;
    background:#000;
    /* make sure it appear behind the dialog box but above everything else */
    position: fixed;
    top:0; 
    left:0;
    z-index:3000;
    /* hide it by default */
    display:none;
}

#dialog-box {
    box-shadow: 0px 0px 10px var(--shadow-color);
    border-radius: 5px;
    background:#eee;
    /* make sure it has the highest z-index */
    position:fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index:3001;
    /* hide it by default */
    display:none;
}

#dialog-box .dialog-content {
    text-align:left;
    padding:10px;
    margin:13px;
    color:#666;
}
.dialog-content .close-button {
    color: white;
    background-color: #cb4040;
}
.dialog-content .update-button {
    color: white;
    background-color: green;
}
.dialog-content .title {
    text-align: center;
    font-size: 18pt;
    color: darkblue;
}
.dialog-content .link-url {
    font-size: 16pt;
    width: 100%;
}
