#search-status, #bookmark-status {
    font-size: 10pt;
    font-style: italic;
    color: var(--heading-color);
    padding: 5pt;
}
#search-filter-status {
    font-size: 9pt;
    color: var(--special-color);
}

.results-table {
    margin: 0px;
    padding-left: 0pt;
    display: none;
    width: 100%;
    background-color: var(--main-bcolor);
}
.results-table thead {
    font-size: 15pt;
    font-weight: bold;
    background: var(--special-bcolor);
}
.results-table tr {
    font-size: 13pt;
    padding: 2pt 5pt 2pt 5pt;
    border-top: 1pt solid var(--border-color);
}
.results-table tr:nth-child(even) {
    background-color: var(--special-bcolor);
}
.results-table tr:hover { background: var(--hover-bcolor); }
.results-table thead tr:hover { background: none; }

.results-table td { padding: 0pt 5pt 0pt 5pt; }
.results-table span.action { float: right; color: blue; cursor: pointer; }
.results-table span.action i:hover { color: red; }

.result-sutta-name {
    color: var(--special-color);
    font-weight: bold;
    font-size: 12pt;
    word-break: break-word;
}
.result-parents {
    font-size: 11pt;
    color: var(--main-color);
}
.result-nikaya-name {
    font-size: 11pt;
}
.result-page-number, .result-book-name {
    font-size: 12pt;
    word-break: break-word;
}
span.result-sutta-name:hover, span.result-parent-name:hover {
    cursor: pointer;
    text-decoration: underline;
}

.star-icon { /* appears in text too */
    font-size: smaller;
    cursor: pointer;
    color: var(--icon-color);
    opacity: 0.4;
    padding-left: 5pt;
}
.star-icon.starred { color: rgb(228, 194, 0); opacity: 1; }